* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(97, 81, 55);
    color: whitesmoke;
    height: 100vh;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 2rem;
    gap: 1rem;
}

h3 {
    background-color: rgb(7, 13, 26);
    display: block;
    width: 100%;
    padding: .7rem .5rem;
    border-radius: .5rem;
}

#grid { 
    border-radius: 1rem;
    background-color: rgb(7, 13, 26);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: .5em;
    padding: 1em .5em;
}

#grid .card {
    width: 25%;
    height: auto;
    border-radius: 1rem;
    opacity: 0.7;
}

#grid .card:hover {
    opacity: 1;
}